img {
  border: 1px solid #ddd; 
  border-radius: 4px;
  padding: 5px; 
  width: 150px; 
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

/*box-shadow; 0px 19px 10px 0px rgba (0,0,0,0.53);*/
body{
    font-family: 'Open Sans';
    font-weight: 700;
    z-index: 1;
   
}

.navbar a{
    color: white;
}
.navbar{
    font-size: 2rem;
    background:  #030820;;
    opacity:90%;
}

  .navbar a:hover {
    background: #ddd;
    color: black; 
}

  .navbar:hover {
    opacity:100%;
}

header, #presentation, #portfolio {
    width: 100%;
    min-height: 100vh;
}

.Main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh ;
 }

header {
    background-color:	#0f2358;
    background-image: url(Images/Ouii.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #EDEDED;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Main, h1, h2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 13vh;
}

h1, h2, #cv {
	text-align: center;  
 }

#cv{
    text-align: center;
    margin-top: 5vh;
}

#cv-box, #cv-box:visited{
    background-color:#ededed ;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: none;
    color: #282828;
    padding: 1rem 2rem;    

}

#cv-box:hover{
    background-color: unset;
    color: #ededed;
    border: solid 1px #ededed;
}

.link-btn{
    position: absolute;
    bottom: 10px;
    width: 10vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.link-btn a img:hover{
    transition: all 0.2s ease-in;
    width: 60px;
}

.link-btn a img:nth-child(1):hover img{
    src: url(Images/Vectors/linkedin_hover.svg);
}





#presentation{
    position: relative;
    background-color: #0f2358;
    color: white;
    display: flex;
    justify-content: center;

}

.Mapresentation{
    width: 60%;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.Mapresentation p{
    text-align: justify;
    margin: 5vh 0;
    font-size: 2rem;
}

#presentation h3{
    position: absolute;
    font-size: 5rem;
    border-bottom: solid 2px #45a9eb;
    top: 13rem;
}





#portfolio {
    position: relative;
    background-color: #07134d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}

#portfolio > h4 {
    padding-top: 2em;

}


#portfolio h3 {
    position: relative;
    color: white;
    top: 2.5rem;
    font-size: 5rem;
    border-bottom: solid 2px #EB6345;
    margin: 5vh 0;
}

#portfolio h4{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin:0.1em;
}

#portfolio h5{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin:0.1em;
}



#portfolio > section {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin:2em;
    
}

#portfolio > section > a{
    color: white;
    max-width: 22vw;
    max-height: 27vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.4rem;
    

}
/* ça */
#portfolio > section > a > div{
    background-color:black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* et ça */

#portfolio > section > a > div > img{
    width: 100%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
}

#portfolio > section > a:hover > div > img{
    opacity: 0.6;
    transform: scale(1);
}

#portfolio > section > a > p{
    position: absolute;
    font-size: 1.7rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    transform: translateY(-40vh);
}

#portfolio > section > a:hover > p{
    transform: translateY(0);
}





.CvVideo{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
    margin-top: 5em;
  
}

.CvVideo video{
    width: 60vh;
    height: 35vh;
    margin: auto 0;
    box-shadow:0px 15px 31px 6px rgba(0,0,0,0.52);
    padding:1em;
    background-color: white;
    border-radius: 1%;
}


/*RESPONSIVE (media queries)*/

@media only screen and (max-width: 768px) {
    h1{
        font-size: 4rem;
    }

    #presentation{
        flex-direction: column;
    }
     
    .Mapresentation{
        flex-direction: column;
        width: 100%;
        height: 50%;
        padding: 0 5vw;
        margin-bottom: 5vh;
    }

    #presentation h3{
        position: relative;
        margin-bottom: 1.5rem;
    }

    #portfolio h4{
        margin-top: 6rem;
        text-align: center;
    }

    #portfolio > section{
        flex-direction: column;
        width: auto;
        margin-bottom: 10vh;
    }

    #portfolio > section > a{
        width: 70vw;
        height: 52.5vw;
       
    }

    #portfolio > section > a > p{
        transform: translateY(-60vh);
        font-size: 10rem;
    }

}

#footer {
    background-color: #030820;
    border-top: 0.1rem solid black;
	color: white;
	text-align: center;
	width: 100%;
	position: relative;

}

#footer-top a {
	padding: 0 10px;
}

#footer div {
	width: fit-content;
	margin: 0 auto;
	padding: 8px;
	
}
#footer p {
	font-size: 20px;
	font-family: calibri;
	text-shadow:1px 0px 1px black;
}
#footer a {
	color:inherit;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
}